{% set bundle = Kernel.bundle('DMenu') %}

<script>
$(function() {
    DMenuManager.init( $('#sortable') ); 

    var $panel = $('.menu-editor > .panel');

    $('<button/>').text('{% trans 'Add Link' %}').appendTo($panel).click(function(e) {
        DMenuManager.showMenuItemForm({ type: 'link' });
        return false;
    });

    $('<button/>').text('{% trans 'Add Folder' %}').appendTo($panel).click(function(e) {
        DMenuManager.showMenuItemForm({ type: 'folder' });
        return false;
    });

    {% if bundle.config('with_page') %}
    $('<button/>').text('{% trans 'Add Page' %}').appendTo($panel).click(function(e) {
        DMenuManager.showMenuItemForm({ type: 'page' });
        return false;
    });
    {% endif %}

    {% if bundle.config('with_product_category') %}
    $('<button/>').text('{% trans 'Add Product Category' %}').appendTo($panel).click(function(e) {
        DMenuManager.createMenuItem({ type: 'dynamic:products', label: '{% trans 'Product Category' %}' , data: 'product' });
        return false;
    });
    {% endif %}

    {% if bundle.config('with_usecase_category') %}
    $('<button/>').text('{% trans 'Add UseCase Category' %}').appendTo($panel).click(function(e) {
        DMenuManager.createMenuItem({ type: 'dynamic:usecases', label: '{% trans 'UseCase' %}' , data: 'usecase' });
        return false;
    });
    {% endif %}

    DMenuManager.update({ lang: '{{ Kernel.locale.current }}' });
});
</script>

<div class="section">
    <div class="hd">{% trans 'Front-End Menu Editor' %}</div>
    <div class="bd"> 

        {% if bundle.config('with_lang') %}
        <div>
        {% for lang,name in Web.langs %}
        <button value="{{ lang }}" onclick=" (function(o) {  var val = $(o).val();
            DMenuManager.update({ lang: val });  })(this); return false;">{{ name }}</button>
        {% endfor %}
        </div>
        {% endif %}

        <div class="menu-editor">
            <div class="status">

            </div>

            <div class="panel"> </div>

            <div class="nav">  </div>

            <form method="post">
                <ul id="sortable">

                </ul>
            </form>
        </div>

        <div class="preview-menu-tree">
            {% trans 'Menu Preview' %}
            <div class="content">
            </div>
        </div>

        <div class="clear"> </div>
    </div>
</div>
