{% set bundle = Kernel.bundle('DMenu') %}
<style>
.list-group .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  line-height: 23px;
  vertical-align: middle;
}
.list-group .list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.list-group .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-group .list-group-item .btn,
.list-group .list-group-item .btn-group {
  margin: 0;
}


a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
    color: #333;
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.list-group .list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.list-group .list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}
.list-group .list-group-item.dragging {
  background: #ccc;
}

.list-group .list-group-item.folder {
 /*  background: linear-gradient(-3deg, #eee, #fff); */
}
</style>
<div id="menuEditorApp"> </div>
<script>
$(function() {
    var app = React.createElement(MenuEditorApp, {
      "basepath": "/bs/menu_item",
      "lang": "zh_TW", // default
      "languages": [
        // {'lang':'en', 'label': '英文'},
        {'lang':'zh_TW', 'label':'中文'}
      ]
    });
    React.render(app, document.getElementById('menuEditorApp'));
});
</script>
